[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
	ignore = dirty
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
	ignore = dirty
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
	ignore = dirty
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
	ignore = dirty
